<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>FFO-Foodstore</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
        }

        h1 {
            font-size: 48px;
            color: #333;
            text-align: center;
            margin-top: 50px;
        }

        p {
            font-size: 24px;
            color: #666;
            text-align: center;
            margin-top: 30px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        li:hover {
            transform: scale(1.05);
        }

        * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: #ff5353;
    padding: 20px 10px;

}

nav ul {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0
}

nav a {
    color: #fff;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
}

main, header {
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
}

.google-btn {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background: #ff5353
}
    </style>
</head>
<body>
    <nav>
        <ul>
            <% if (user){ %>
                <li><a href="/auth/logout">Logout</a></li>
            <% }  else { %>
                <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Home page</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to FFO-Foodstore!</h1>
    </header>
    <main>
        <p>This is the homepage of FFO-Foodstore.</p>
    </main>
</body>
</html>
